body
 {
 font-family:arial;  
 background-image: linear-gradient(white 50%, #f0f0f0);
  }
 #banner
 { 
  position: relative;
  background-image: linear-gradient(black, #545454);
  background-repeat: repeat-x;
  color: white;
  margin-left:-0.40%;
  margin-right:-0.40%;
  margin-top:-1%;
  }
  #copyme
  {
	margin-left:-35;
  }
.title
 {
  position: relative;
  font-size:10pt;
  margin-top: 3.5%;
  margin-bottom: 5%; 
  text-align:center;  
 }
a
 { 
  text-decoration: none;
 }
 #top-menu 
{
  position:relative;
  border-top: 4px solid #545454;
  border-bottom: 4px solid #545454;
  background-image: linear-gradient (#545454, #6d6d6d) ;
  margin-top:-20px;
  color: white;
  padding: 2px;
  box-shadow: 10px 10px 5px #e1e1e1;
}
.button-top
 { 
  color: white; 
  font-size: 16pt;
  text-decoration: none;
 }
.button-top:visited
 {
  color: white;
 }
.button-top:hover
 {
  color: gold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
 }
.action-button
 { 
  background-color: #00a4e3;
  font-weight:bold;
  border-style: solid;
  border-radius: 8px;
  border-color: #0082b4;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
 }
.action-button:visited
 {
  color: white;
 }
.action-button:hover
 {
  background-color: #0082b4;
  border-style: solid;
  border-color: #00a4e3;
  text-shadow: 5px 5px 5px rgba (0, 0, 0, 0.2);
 }
.action-button-small
 {  	
  float:rigth;
  background-color: #00a4e3;
  font-weight:bold;
  border-style: solid;
  border-radius: 8px;
  border-color: #0082b4;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left:500px;
  margin-bottom:-100;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
 }
.action-button-small:hover
 {
  background-color: #0082b4;
  border-style: solid;
  border-color: #00a4e3;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
 }
.main-title
 {
  margin-top:-5;
  text-align:center;  
 } 
.menu
 {
  float: left;
  position: fixed;
  border: solid  #939393 1pt;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 1%;
  z-index: 2;  
 }
.rboard
 {
  font-size:9pt;
  text-align:left;
  float:left;
  position: fixed;
  border: solid  #939393 1pt;
  border-radius: 5px;
  background-color: white;
  margin-top:60;
  margin-left:1700;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
 }
.board
 {
  color:black;
  z-index:2;
  font-size:9pt;
  border: solid  #eaeaea 2pt;
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
 }
 .v
 {
	 color:black;
 }
 .v:hover{
	 color:#0082b4;
	 text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
 }
 .top-board
 { 

  margin-top:-0.5%;
  margin-bottom:0.5%;
  padding: 10px;
  border-bottom:solid #e8e8e8 2pt;
 }
 .home-board
 {
  cursor: pointer;
  border-radius: 10px;	 
  padding:40pt;
padding-bottom:15pt;  
  color: #0082b4;
  font-size: 16pt;
  
 }
 .home-board:hover
 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #eeeeee;
  border-bottom: solid gold 5pt;
  background-image: linear-gradient(white 60%, #fde35a);
 }
footer
 {
  position: relative;
  opacity: 0.80;
  right:1%;
  bottom:1%;  
  color: #575757;
  font-size: 7pt;
  padding-top:0.5%;
  text-align: right;
  bottom: 0;
  height: 2.5rem;          
 }
#img_zebra1
{
 margin-top:10;
 margin-bottom:-25;
 width: 5%;
}
#clock
{ 
 z-index:0;
 color: gold;
 font-weight: bold;
 margin-top:5;
 margin-left:55;
 margin-right:-55;
 float:left;
 font-size: 14pt;
}
#picture-link
{
 z-index: 0;
}
#textbox
{
  width: 100%;
  padding: 15px 0px 100px 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#textbox:hover
{
	border: 2px solid gold;
}
#textbox:focus
{
	outline:none;
}
#ip_addr
{
  font-size: 16px;	
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 5px #e1e1e1;
}
#ip_addr:hover, #ip_addr:focus
{
  border: 2px solid gold;
  outline:none;
}
iframe{
	width: 80%;
	height: 50%;
	margin-bottom: 1%;
	border-radius: 10px;
	margin-left:-100;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	
	}
#GUI{
	display:none;
	}