body
{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../res/2brno.jpg");
	background-size: cover;
	color: white;
	text-shadow: 2px 2px 4px black;
}
a:visited
{
color:white;
text-decoration: none;
}
#title
{
font-size: 25pt;
float:right;
margin-right:-210px;
margin-top:-10;

}
#img_zebra1
{
	margin:50px;
	height:5%;
    margin-top:-10px;
	margin-right:150px;
	float:right;
}
.button-top
 { 
	padding:10;
	font-size:16pt;
	color: white; 
	text-decoration: none;
	font-weight:bold;
 }
.button-top:hover
{
text-shadow: 1px 1px 2px black;
color: gold;
}
iframe
{ 
    margin-top:30px;
	justify-content: space-around;
	margin-left:100;
    background-color:rgba( 255, 255, 255, 0.1);
	border-radius: 20px;
	width:40%;
	height:80%;
	border: none;
}
#top-board
{
	margin-top:100;
	cursor:pointer;
	float:right;
	margin-right:-300px;
	font-size:30pt;
	background-color:rgba( 255, 255, 255, 0.1);
	border-radius: 20px;
}
#top-board:hover;
{
	color:gold;
	background-color:rgba( 0, 0, 0, 0.4);
}
.button-right
{
font-size:30pt;	
padding: 0px 60px 20px -5px;
}
.button-right:hover
{
  background-color:rgba( 255, 255, 255, 0.2);
  cursor: pointer;  
  border-radius: 20px;
  width:220%;	
}
.button-browserprint
{
 color:white;
 font-size:16pt;	
 padding: 15px ;
 background-color:#00a4e3;
 cursor: pointer;  
 border-radius: 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
}
.button-browserprint:hover
{
  background-color: background-color: #00a4e3;
}
#board:
{
	padding-top:-500px;
}
.v2
 {
	 font-size:25pt;
	 text-decoration:none;
	 color:white;
	 text-align: center;
     font-weight:bold;
	 padding: 15px 60px 20px 5px;
     display: inline-block;	 
 }
.v2:hover
 {
	 
  background-color: #00a4e3;
  cursor: pointer;  
  border-radius: 20px;
  width:83%;
 }
.left-board
  {
   color: white;
  font-size: 16pt;
  list-style-type: none;
  border-style:none;
  position: absolute;
  border-radius: 5px;
  margin-top:-700px;
  margin-left:10;
  width:20%;
  background-color:rgba( 255, 255, 255, 0.1);
  border-radius: 20px;
 }
footer
{
	 position: fixed; bottom: 0; 
	   font-size: 25pt;
 }
#hour
{
	margin-bottom:-60;
}
#BrowserPrintControls
{
	float:left;
	 background-color:rgba( 255, 255, 255, 0.1);
	 border-radius: 20px;
	 padding:10pt;
}

#BrowserPrintMediaSettings
{
	float:left;
	margin-left:10pt;
	 background-color:rgba( 255, 255, 255, 0.1);
	 border-radius: 20px;
	 padding:10pt;
}

#BrowserPrintCommandsConsole
{
	float:left;
	margin-left:10pt;
	background-color:rgba( 255, 255, 255, 0.1);
	border-radius: 20px;
    padding:10pt;
}
#textbox-browserprint
{
 font-size:16pt;	
 padding: 15px ; 
 border-radius: 15px;
}
